.DS_Store
config/database.yml
config/pasokara_dir_setting
config/pp_setting.rb
client_file/database/pasokara_dir_setting.txt
client_file/player/pasokara_player_setting.txt
client_file/**/*.db
Capfile
config/deploy.rb
client_file/player/notifier/twitter.yml
.autotest
coverage
coverage/**
public/video
public/video/**
