<%= javascript_include_tag("throbberA.js") %>
<%= javascript_include_tag("iphone_video_load.js") %>
  
<h1><%= h @pasokara.name %></h1>
<span id="throbber" style="margin-left: 220px;"></span>
<div id="video" style="margin-left: 20px;">
</div>
<!-- END OF THE PLAYER EMBEDDING -->
<br />
<%= link_to "強制エンコード", {:id => @pasokara.id, :force => true} %>
