<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Preview</title>
  
</head>
<body>
  <%= embed_player_iphone(@pasokara) %>
  <!-- END OF THE PLAYER EMBEDDING -->
</body>
</html>
