<%# encoding: utf8 %>

<% cache(:action => "index", :page => params[:page]) do -%>
  <% @grouping.each do |rootpath, dirs| %>
    <h2><%= h rootpath %></h2>
    <ul class="autopagerize_page_element">
      <% dirs.each do |entity| %>
        <%= entity_li(entity) %>
      <% end %>
    </ul>
  <% end %>
  <%= will_paginate(@top_dirs) %>
<% end -%>
