<%# encoding: utf-8%>
<nav>
  <%= navi_bar %>
</nav>
<br />
<%= solr_search_form %>
<% unless @no_tag_load %>
  <% cache(@tag_list_cache_key) do %>
    <%= header_tag_list(@header_tags, @query) %>
  <% end %>
<% end %>
<hr />
