<%# encoding: utf-8 %>
<!DOCTYPE HTML>

<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <title>Pasokara Player</title>
  <%= jquery_loading %>
  <%= jquery_mobile_loading %>
</head>
<body>

<%= yield %>

</body>
</html>
